<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="POST" action="/editCategory/<%= CategoryId %>">
            <label for="category">Please enter new category</label>
            <input type="text" name="CategoryName" placeholder="<%= CategoryName %>"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>