<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="POST" action="/editProduct/<%= ProductId %>">
            <label for="category">Please enter new category</label>
            <input type="text" name="ProductName" placeholder="<%= ProductName %>"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
